.v-radio.theme-default {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.v-radio.theme-default.is-disabled {
  cursor: default;
}

.v-radio.theme-default .v-radio-input {
  display: none;
}

.v-radio.theme-default .v-radio-label {
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 2px;
}

.v-radio.theme-default .v-radio-box {
  flex: 0 0 18px;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--endpass-ui-color-black);
  margin-right: 10px;
}

.v-radio.theme-default .v-radio-input:checked + .v-radio-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: var(--endpass-ui-color-black);
  border-radius: 50%;
}

.v-radio.theme-default.is-disabled .v-radio-box {
  border-color: var(--endpass-ui-color-grey-4);
}

.v-radio.theme-default.is-disabled .v-radio-input:checked + .v-radio-box:after {
  background-color: var(--endpass-ui-color-grey-4);
}

.v-radio.theme-default.is-disabled .v-radio-label {
  color: var(--endpass-ui-color-grey-4);
}

.v-radio.theme-default.is-error .v-radio-box {
  border-color: var(--endpass-ui-color-error);
}


