.v-checkbox.theme-default {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
}

.v-checkbox.theme-default .v-checkbox-control {
  margin: 0;
  width: 0;
  height: 0;
  border: 0;
  outline: 0;
}

.v-checkbox.theme-default .v-checkbox-label {
  color: $grey-9;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.175px;
  user-select: none;
  margin-left: 10px;
}

.v-checkbox.theme-default .v-checkbox-icon {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  border: 1px solid $black;
  transition: border-color .3s, background-color .3s;
}

.v-checkbox.theme-default:hover .v-checkbox-icon,
.v-checkbox.theme-default.is-focused .v-checkbox-icon {
  border-color: $primary-7;
}

.v-checkbox.theme-default.is-checked .v-checkbox-icon {
  background: $black url("/img/checkbox.svg") center center no-repeat;
}

.v-checkbox.theme-default.is-disabled .v-checkbox-icon {
  border-color: $grey-4;
}

.v-checkbox.theme-default.is-disabled .v-checkbox-label {
  color: $grey-4;
}

.v-checkbox.theme-default.is-error .v-checkbox-icon {
  border-color: $error;
}

.v-checkbox.theme-default.is-checked.is-disabled .v-checkbox-icon {
  background-color: $grey-4;
}
