.v-checkbox.theme-default {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
}

.v-checkbox.theme-default .v-checkbox-control {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.v-checkbox.theme-default .v-checkbox-label {
  color: $grey-9;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.175px;
  user-select: none;
  margin-left: 10px;
}

.v-checkbox.theme-default .v-checkbox-frame {
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid $black;
  transition: border-color 0.3s, background-color 0.3s;
}

.v-checkbox.theme-default:hover .v-checkbox-frame,
.v-checkbox.theme-default.is-focused .v-checkbox-frame {
  border-color: $primary-7;
}

.v-checkbox.theme-default.is-checked .v-checkbox-frame {
  background-color: $black;
}

.v-checkbox.theme-default.is-disabled .v-checkbox-frame {
  border-color: $grey-4;
}

.v-checkbox.theme-default.is-disabled .v-checkbox-label {
  color: $grey-4;
}

.v-checkbox.theme-default.is-error .v-checkbox-frame {
  border-color: $error;
}

.v-checkbox.theme-default.is-checked.is-disabled .v-checkbox-frame {
  background-color: $grey-4;
}
