.select-atom.theme-default {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color .3s, border-color .3s;
  border-radius: 4px;
  position: relative;
}

.select-atom.theme-default .select-atom-control {
  color: var(--endpass-ui-color-grey-8);
  font-size: 14px;
  letter-spacing: -0.175px;
  padding: 0 16px;
  height: 38px;
  border: 0;
  outline: 0;
  font-family: var(--endpass-ui-font-family-primary);
  width: 100%;
  display: flex;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 11L3 5.99997L3.707 5.29297L8 9.58597L12.293 5.29297L13 5.99997L8 11Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M8 11L3 5.99997L3.707 5.29297L8 9.58597L12.293 5.29297L13 5.99997L8 11Z" fill="currentColor"/></svg>') no-repeat calc(100% - 10px) center;
  background-color: transparent;
  background-size: 16px;

  // padding for right arrow
  padding-right: 38px;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
.select-atom.theme-default.skin-primary {
  background-color: var(--endpass-ui-color-grey-1);
  border: 1px solid var(--endpass-ui-color-grey-1);
}

.select-atom.theme-default.skin-secondary {
  background-color: var(--endpass-ui-color-white);
  border: 1px solid var(--endpass-ui-color-grey-1);
}

.select-atom.theme-default .select-atom-control::placeholder {
  color: var(--endpass-ui-color-grey-5);
  transition: opacity .3s, color .3s;
}

.select-atom.theme-default.is-error {
  border-color: var(--endpass-ui-color-error);
}

.select-atom.theme-default:hover {
  border-color: var(--endpass-ui-color-grey-2);
}

.select-atom.theme-default:hover .select-atom-control::placeholder {
  color: var(--endpass-ui-color-grey-6);
}

.select-atom.theme-default:focus {
  border-color: var(--endpass-ui-color-primary-7);
  background-color: var(--endpass-ui-color-white);
}

.select-atom.theme-default:focus .select-atom-control::placeholder {
    opacity: 0;
}

.select-atom.theme-default.is-disabled {
  border-color: var(--endpass-ui-color-grey-1);
}

.select-atom.theme-default.is-disabled .select-atom-control {
  color: var(--endpass-ui-color-grey-4);
}

.select-atom.theme-default.is-disabled .select-atom-control::placeholder {
  color: var(--endpass-ui-color-grey-4);
}

