.navigation-icon-button-atom.theme-default {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  padding: 3px 0 0;
  border: none;
  border-bottom: 3px solid var(--color-primary-7);
  background: var(--color-primary-7);
  transition: background 0.3s, border-bottom 0.3s;
  cursor: pointer;
  color: var(--color-white);

  &:focus {
    background: var(--color-primary-8);
    border-bottom: 3px var(--color-primary-8);
  }

  &:active {
    background: var(--color-primary-7);
    border-bottom: 3px solid #d0b0ff;
  }

  &.is-active {
    background: var(--color-primary-7);
    border-bottom: 3px solid #d0b0ff;
  }
}

.navigation-icon-button-atom.theme-default .svg-atom {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
}
