.icon-atom.theme-default.is-error {
  color: var(--color-error);
  font-size: 12px;
  line-height: 14px;
  width: 14px;
  min-width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  margin-right: 17px;
  letter-spacing: 0;
}
