.v-tag.theme-default {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  height: 22px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  padding: 0 8px;
  border-radius: 22px;
}
.v-tag.theme-default.is-closable {
  cursor: pointer;
}

.v-tag.theme-default .v-tag-close {
  padding: 5px;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 4px;
  margin-right: -7px;
  border: 1px solid transparent;
}

.v-tag.theme-default:hover .v-tag-close {
  background-color: rgba(black, 0.1);
}

.v-tag.theme-default.skin-default {
  border-color: #0058a1;
  color: #0058a1;
}

.v-tag.theme-default.skin-cyan {
  color: #0058a1;
  background-color: #b3e6ff;
}

.v-tag.theme-default.skin-red {
  color: #a51920;
  background-color: #fcd0d3;
}

.v-tag.theme-default.skin-magenta {
  color: #a11950;
  background-color: #ffcfe1;
}

.v-tag.theme-default.skin-purple {
  color: #6e32c9;
  background-color: #e6d6ff;
}

.v-tag.theme-default.skin-blue {
  color: #054ada;
  background-color: #c9deff;
}

.v-tag.theme-default.skin-teal {
  color: #006161;
  background-color: #92eeee;
}

.v-tag.theme-default.skin-green {
  color: #10642a;
  background-color: #9deeb2;
}

.v-tag.theme-default.skin-gray {
  color: var(--endpass-ui-color-grey-9);
  background-color: var(--endpass-ui-color-grey-2);
}

.v-tag.theme-default.skin-light-gray {
  color: var(--endpass-ui-color-grey-9);
  background-color: var(--endpass-ui-color-grey-1);
}

.v-tag.theme-default.skin-dark-gray {
  color: var(--endpass-ui-color-white);
  background-color: var(--endpass-ui-color-grey-8);
}

.v-tag.theme-default.skin-white {
  border-color: var(--endpass-ui-color-grey-3);
  color: var(--endpass-ui-color-grey-9);
  background-color: transparent;
}

.v-tag.theme-default[disabled] {
  background-color: var(--endpass-ui-color-grey-1);
  color: var(--endpass-ui-color-grey-4);
  border-color: transparent;
  cursor: default;
}

.v-tag.theme-default[disabled]:hover .v-tag-close {
  background-color: transparent;
}
