.label-atom.theme-default {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  color: $black;
}

.label-atom.theme-default[disabled='disabled'] {
  color: $grey-4;
}

.label-atom.theme-default.is-error {
  color: $error;
}
