.label-atom.theme-default {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  color: var(--endpass-ui-color-black);
}

.label-atom.theme-default[disabled=disabled] {
  color: var(--endpass-ui-color-grey-4);
}
