.v-alert.theme-default {
  display: flex;
  align-items: center;
  padding: 15px 17px;
  border-radius: 2px;
  border: solid 1px var(--endpass-ui-color-error);
  color: var(--endpass-ui-color-error);
}

.v-alert.theme-default .v-alert-icon {
  width: 18px;
  height: 18px;
  margin-right: 17px;
  color: var(--endpass-ui-color-error);
}

.v-alert.theme-default .v-alert-content {
  margin-right: 17px;
  font-size: 14px;
  line-height: 1.3;
}

.v-alert.theme-default .v-alert-button {
  margin-left: auto;
  color: var(--endpass-ui-color-error);
}
