.label-molecule.theme-default .label-molecule-tooltip {
  display: inline-block;
  vertical-align: sub;
  width: 14px;
  height: 14px;
  line-height: 1;
}

.label-molecule.theme-default .label-molecule-icon {
  display: inline-block;
  font-size: 14px;
  width: 14px;
  height: 14px;
  text-align: center;
  font-style: normal;
}
