.navigation-sidebar-control.theme-default {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;
  color: $black;
  transition: color 0.3s, background 0.3s;

  &:not(.is-disabled):hover {
    background: $grey-1;
  }

  &:not(.is-disabled):focus {
    background: $primary-1;
  }

  &:not(.is-disabled):active {
    background: $primary-1;
  }
}

.navigation-sidebar-control.theme-default.is-disabled {
  color: $grey-3;
  cursor: default;
}

.navigation-sidebar-control.theme-default.is-active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: $primary-7;
}
