$medium-grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 30%);
$purple: #4b0472;
$white: #fff;

$primary: $purple;
$danger: #ff3860;

$heading-font-family: 'Proxima Nova', 'Open Sans', 'Helvetica Neue', sans-serif;