.icon-button-molecule.theme-default {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.icon-button-molecule.theme-default:active {
  color: inherit;
}
