.v-nav-sub-menu.theme-default {
  position: relative;
  z-index: 1;
  display: block;
}

.v-nav-sub-menu.theme-default .v-nav-sub-menu-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.v-nav-sub-menu.theme-default .v-nav-sub-menu-content {
  position: absolute;
  z-index: 2;
  top: 48px;
  left: 0;
  opacity: 0;
  width: 240px;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.v-nav-sub-menu.theme-default.is-expanded .v-nav-sub-menu-content {
  height: auto;
  transform: translateY(0);
  opacity: 1;
}

.v-nav-sub-menu.theme-default.is-expanded .v-nav-sub-menu-icon {
  color: var(--endpass-ui-color-white);
}

.v-nav-sub-menu.theme-default .v-nav-sub-menu-content .navigation-control-atom {
  width: 100%;
}

.v-nav-sub-menu.theme-default.skin-primary
  .v-nav-sub-menu-content
  .navigation-control-atom:hover {
  background: var(--endpass-ui-color-primary-8);
}

.v-nav-sub-menu.theme-default.skin-secondary
  .v-nav-sub-menu-content
  .navigation-control-atom:hover {
  background: var(--endpass-ui-color-blue-2);
}


.v-nav-sub-menu.theme-default.skin-primary .v-nav-sub-menu-icon {
  color: var(--endpass-ui-color-primary-5);
}

.v-nav-sub-menu.theme-default.skin-primary .v-nav-sub-menu-icon {
  color: var(--endpass-ui-color-primary-5);
}

.v-nav-sub-menu.theme-default.skin-secondary .v-nav-sub-menu-icon {
  color: var(--endpass-ui-color-white);
}
