.overlay-atom.theme-default {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 23, 26, 0.85);
  animation: fadeIn 0.3s;
  cursor: pointer;
}
