.v-header.theme-default {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  color: var(--endpass-ui-color-white);
}

.v-header.theme-default.skin-primary {
  background-color: var(--endpass-ui-color-primary-7);
}

.v-header.theme-default.skin-secondary {
  background-color: var(--endpass-ui-color-blue-1);
}
