.v-header.theme-default {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  background-color: var(--endpass-ui-color-primary-7);
  color: var(--endpass-ui-color-white);
}
