.v-nav-sidebar.theme-default .v-nav-sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(19, 23, 26, 0.85);
  animation: v-fade-in 0.3s;
  cursor: pointer;
}
