.v-super-menu-control.theme-default {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 7px 17px;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
  transition: color 0.3s;
}

.v-super-menu-control.theme-default .v-super-menu-control-icon {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  margin-bottom: 2px;
  color: rgba(110, 50, 201, 0.5);
  transition: color 0.15s;
}

.v-super-menu-control.theme-default.is-gapped {
  margin-top: 17px;
}

.v-super-menu-control.theme-default:hover,
.v-super-menu-control.theme-default:hover .v-super-menu-control-icon,
.v-super-menu-control.theme-default.is-active,
.v-super-menu-control.theme-default.is-active .v-super-menu-control-icon {
  color: var(--endpass-ui-color-primary-7);
}
