.v-accordion.theme-default {
  position: relative;
}

.v-accordion.theme-default .v-accordion-header {
  box-sizing: border-box;
}

.v-accordion.theme-default.size-small .v-accordion-header {
  padding: 8px 12px;
  min-height: 40px;
}

.v-accordion.theme-default.size-normal .v-accordion-header {
  padding: 15px 16px;
  min-height: 52px;
}

.v-accordion.theme-default.size-large .v-accordion-header {
  padding: 30px 36px;
  min-height: 92px;
}
