.inline-loader-molecule.theme-default {
  position: relative;
  display: flex;
}

.inline-loader-molecule.theme-default .inline-loader-molecule-spinner {
  display: flex;
  animation: v-spin 1.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}
