.description-atom.theme-default {
  font-size: 12px;
  letter-spacing: -0.15px;
  margin-bottom: 5px;
  color: var(--endpass-ui-color-black);
}

.description-atom.theme-default[disabled=disabled] {
  color: var(--endpass-ui-color-grey-4);
}
