.v-modal-card.theme-default {
  width: 100%;
  max-width: 442px;
  padding: 22px 32px;
  background-color: $white;
  box-sizing: border-box;
}

.v-modal-card.theme-default .v-modal-card-title {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.25px;
  color: $black;
  font-weight: bold;
  margin: 2px 0 27px;
  padding: 0 5px;
}

.v-modal-card.theme-default .v-modal-card-controls {
  display: flex;
  min-height: 17px;
}

.v-modal-card.theme-default .v-modal-card-back,
.v-modal-card.theme-default .v-modal-card-close {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: 0;
  user-select: none;
}

.v-modal-card.theme-default .v-modal-card-close {
  margin: 0 -8px 0 auto;
}

.v-modal-card.theme-default .v-modal-card-back {
  margin: 0 auto 0 -10px;
}
