.v-modal-card.theme-default {
  width: 100%;
  max-width: 442px;
  padding: 22px 32px;
  background-color: var(--endpass-ui-color-white);
  box-sizing: border-box;
  border-radius: 4px;
}

.v-modal-card.theme-default .v-modal-card-title {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.25px;
  color: var(--endpass-ui-color-black);
  font-weight: bold;
  margin: 0 0 27px;
  padding: 0 5px;
}

.v-modal-card.theme-default .v-modal-card-description {
  font-size: 14px;
  color: var(--endpass-ui-color-grey-6);
  text-align: center;
  margin-bottom: 18px;
}
.v-modal-card.theme-default .v-modal-card-title + .v-modal-card-description {
  margin-top: -10px;
}

.v-modal-card.theme-default .v-modal-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 8px;
}

.v-modal-card.theme-default .v-modal-card-controls {
  display: flex;
  min-height: 20px;
}

.v-modal-card.theme-default .v-modal-card-back,
.v-modal-card.theme-default .v-modal-card-close {
  color: var(--endpass-ui-color-grey-5);
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: 0;
  user-select: none;
}

.v-modal-card.theme-default .v-modal-card-close {
  margin: 0 -8px 0 auto;
}

.v-modal-card.theme-default .v-modal-card-back {
  margin: 0 auto 0 -10px;
}
