.storybook-grid {
  display: grid;
  grid-template-columns: repeat(8, 96px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.storybook-grid-cell {
  padding: 16px;
  background: #f3f3f3;
}

.storybook-grid-cell span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  text-align: center;
  font-family: sans-serif;
}

.storybook-grid-cell div {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
