.icon-tooltip-molecule.theme-default {
  width: 14px;
  height: 14px;
}

.icon-tooltip-molecule.theme-default .icon-tooltip-molecule-icon {
  display: inline-block;
  vertical-align: sub;
  font-size: 14px;
  line-height: 1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
}
