.v-progress-circle.theme-default {
  width: 82px;
  height: 82px;
}
.v-progress-circle.theme-default .v-progress-circle-over {
  animation: v-spin 1.5s ease-in-out infinite;
  stroke-dasharray: 0, 188.4;
  position: relative;
  transform: rotate(-90deg);
  width: 82px;
  height: 82px;
}

.v-progress-circle.theme-default .v-progress-circle-back {
  position: absolute;
  width: 82px;
  height: 82px;
}

.v-progress-circle.theme-default .v-progress-circle-back circle,
.v-progress-circle.theme-default .v-progress-circle-over circle {
  cx: 41px;
  cy: 41px;
  r: 30px;
}

.v-progress-circle.theme-default .v-progress-circle-back circle {
  stroke: var(--color-grey-3);
  stroke-width: 4;
  fill: none;
}

.v-progress-circle.theme-default .v-progress-circle-over circle {
  stroke: var(--color-primary-7);
  stroke-width: 4;
  fill: none;
}
