.button-loader-atom.theme-default {
  position: relative;
  display: flex;
}
.button-loader-atom-spinner {
  display: flex;
  animation: v-spin 1.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}
