.v-file-drop-area-content.theme-default .v-file-drop-area-button {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  display: flex;
  outline: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 100%;
}

.file-drop-area-input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.v-file-drop-area-content.theme-default .v-file-drop-area-label {
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  outline: 0;
  background: var(--endpass-ui-color-grey-1);
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 10px;
  width: 100%;
  height: 154px;
}

.v-file-drop-area-content.theme-default[disabled] .v-file-drop-area-label {
  border-color: transparent !important;
  box-shadow: none !important;
  background: var(--endpass-ui-color-grey-2) !important;
  cursor: default !important;
}

.v-file-drop-area-content.theme-default .v-file-drop-area-label:hover {
  background: var(--endpass-ui-color-grey-2);
}

.v-file-drop-area-content.theme-default .v-file-drop-area-label:active {
  background: var(--endpass-ui-color-grey-3);
}

