.input-atom.theme-default {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color .3s, border-color .3s;
  border-radius: 4px;
}

.input-atom.theme-default.primary {
  background-color: var(--endpass-ui-color-grey-1);
  border: 1px solid var(--endpass-ui-color-grey-1);
}

.input-atom.theme-default.secondary {
  background-color: var(--endpass-ui-color-white);
  border: 1px solid var(--endpass-ui-color-grey-1);
}

.input-atom.theme-default .input-atom-control {
  color: var(--endpass-ui-color-grey-8);
  font-size: 14px;
  letter-spacing: -0.175px;
  padding: 0 16px;
  height: 38px;
  border: 0;
  background: none;
  outline: 0;
  font-family: var(--endpass-ui-font-family-primary);
  width: 100%;
  display: flex;
}

.input-atom.theme-default.is-error {
  border-color: var(--endpass-ui-color-error);
}

.input-atom.theme-default .input-atom-control::placeholder {
  color: var(--endpass-ui-color-grey-5);
  transition: opacity .3s, color .3s;
}

.input-atom.theme-default.primary[disabled=disabled]{
  border-color: var(--endpass-ui-color-grey-1);
}

.input-atom.theme-default[disabled=disabled] .input-atom-control {
  color: var(--endpass-ui-color-grey-4);
}

.input-atom.theme-default[disabled=disabled] .input-atom-control::placeholder {
  color: var(--endpass-ui-color-grey-4);
}

.input-atom.theme-default:focus-within {
  border-color: var(--endpass-ui-color-primary-7);
  background-color: var(--endpass-ui-color-white);
}

.input-atom.theme-default:focus-within .input-atom-control::placeholder {
  opacity: 0;
}

.input-atom.theme-default:not([disabled=disabled]):hover {
  border-color: var(--endpass-ui-color-grey-2);
}

.input-atom.theme-default:not([disabled=disabled]):hover .input-atom-control::placeholder {
  color: var(--endpass-ui-color-grey-6);
}
