.v-input-atom.theme-default {
  background-color: $grey-1;
  border: 1px solid $grey-1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color .3s, border-color .3s;
  border-radius: 4px;
}

.v-input-atom.theme-default .v-input-atom-control {
  color: $grey-8;
  font-size: 14px;
  letter-spacing: -0.175px;
  padding: 0 16px;
  height: 38px;
  border: 0;
  background: none;
  outline: 0;
  font-family: $primary-font;
  width: 100%;
  display: flex;
}

.v-input-atom.theme-default .v-input-atom-control::placeholder {
  color: $grey-5;
  transition: opacity .3s, color .3s;
}
