.label-atom.theme-default.is-muted {
  color: $grey-4;
}

.input-atom.theme-default:hover {
  border-color: $grey-2;

  .input-atom-control::placeholder {
    color: $grey-6;
  }
}

.input-atom.theme-default.is-focus {
  border-color: $primary-7;
  background-color: $white;

  .input-atom-control::placeholder {
    opacity: 0;
  }
}

.input-atom.theme-default.is-error {
  border-color: $error;
}

.input-atom.theme-default.is-disabled {
  border-color: $grey-1;

  .input-atom-control::placeholder {
    color: $grey-4;
  }
}

.input-atom.theme-default .icon-atom-error.theme-default {
  color: $white;
  background-color: $error;
  font-size: 12px;
  width: 14px;
  min-width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  margin-right: 17px;
  letter-spacing: 0;
}
