.v-date-badge.theme-default {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  padding: 6px 20px;
  border-radius: 18px;
  border: 1px solid var(--endpass-ui-color-grey-3);
  font-size: 12px;
  line-height: 1.3;
}
