.v-table-head-cell.theme-default {
  font-size: 14px;
  line-height: 18px;
  color: var(--endpass-ui-color-black);
  text-align: left;
  padding: 14px 16px 15px;
}

.v-table-head-cell.theme-default .v-table-head-cell-sort-icon {
  display: inline-block;
  color: var(--endpass-ui-color-primary-7);
  margin-left: 4px;
  margin-right: -10px;
}

.v-table-head-cell.theme-default .v-table-head-cell-sort-wrapper {
  text-decoration: none;
  color: inherit;
  padding-right: 10px;
}
