.v-table-head-cell.theme-default {
  font-size: 14px;
  line-height: 18px;
  color: var(--endpass-ui-color-black);
  text-align: left;
  padding: 14px 16px 15px;
}

.v-table-head-cell.theme-default .v-table-head-cell-sort-icon {
  display: inline-block;
  color: var(--endpass-ui-color-primary-7);
  position: absolute;
  right: 0;
  transform: translateY(50%);
}

.v-table-head-cell.theme-default .v-table-head-cell-sort-wrapper {
  text-decoration: none;
  color: inherit;
  padding-right: 14px;
  cursor: default;
  position: relative;
}

.v-table-head-cell.is-sortable.theme-default .v-table-head-cell-sort-wrapper {
  cursor: pointer;
}
