.v-button.theme-default {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background .3s, box-shadow .3s, border-color .3s;
  outline: 0;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default .v-button-label {
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 1.1px;
  display: block;
  white-space: nowrap;
  transition: color .3s;
}

.v-button.theme-default .v-button-icon {
  display: flex;
  margin-top: -3px;
}

.v-button.theme-default .v-button-icon.icon-before {
  margin-right: 5px;
}

.v-button.theme-default .v-button-icon.icon-after {
  margin-left: 5px;
}

.v-button.theme-default.skin-primary {
  background: $primary-7;
}

.v-button.theme-default.skin-primary:hover {
  background: $primary-6;
}

.v-button.theme-default.skin-primary:focus {
  box-shadow: none;
}

.v-button.theme-default.skin-primary:active {
  background: $primary-8;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-secondary {
  background: $grey-9;
}

.v-button.theme-default.skin-secondary:hover {
  background: $grey-6;
}

.v-button.theme-default.skin-secondary:focus {
  box-shadow: none;
}

.v-button.theme-default.skin-secondary:active {
  background: $black;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-tertiary {
  background: $white;
}

.v-button.theme-default.skin-tertiary:focus {
  box-shadow: none;
}

.v-button.theme-default.skin-tertiary:active {
  background: $primary-1;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default[disabled] .v-button-label {
  color: $grey-4 !important;
}

.v-button.theme-default.skin-tertiary .v-button-label,
.v-button.theme-default.skin-quaternary .v-button-label,
  .v-button.theme-default.skin-ghost .v-button-label {
  color: $primary-7;
}

.v-button.theme-default.skin-primary .v-button-label,
.v-button.theme-default.skin-secondary .v-button-label,
.v-button.theme-default.skin-quaternary:hover .v-button-label,
.v-button.theme-default.skin-quaternary:focus .v-button-label,
.v-button.theme-default.skin-ghost:active .v-button-label {
  color: $white;
}

.v-button.theme-default.skin-tertiary:hover .v-button-label {
  color: $primary-6;
}

.v-button.theme-default.skin-quaternary {
  box-shadow: none;
  border: 1px solid $primary-7;
}

.v-button.theme-default.skin-quaternary:hover {
  background: $primary-7;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-quaternary:focus {
  background: $primary-7;
}

.v-button.theme-default.skin-quaternary:active {
  background: $primary-8;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-ghost {
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.v-button.theme-default.skin-ghost:hover {
  background: $grey-2;
}

.v-button.theme-default.skin-ghost:focus {
  border-color: $primary-7;
}

.v-button.theme-default.skin-ghost:active {
  border-color: transparent;
  background: $grey-3;
}

.v-button.theme-default.size-normal {
  padding: 12px 24px 10px;
}

.v-button.theme-default.skin-quaternary.size-normal,
.v-button.theme-default.skin-ghost.size-normal,
.v-button.theme-default.skin-social.size-normal {
  padding: 11px 23px 9px;
}

.v-button.theme-default.size-big {
  padding: 18px 24px 16px;
}

.v-button.theme-default.skin-quaternary.size-big,
.v-button.theme-default.skin-ghost.size-big,
.v-button.theme-default.skin-social.size-big {
  padding: 17px 23px 15px;
}

.v-button.theme-default[disabled] {
  border: 0 !important;
  box-shadow: none !important;
  background: $grey-2 !important;
}

.v-button.theme-default .v-svg-icon {
  transition: fill .3s;
  width: 15px;
  height: 15px;
}

.v-button.theme-default.skin-tertiary .v-svg-icon,
.v-button.theme-default.skin-quaternary .v-svg-icon,
.v-button.theme-default.skin-ghost .v-svg-icon {
  fill: $primary-7;
}

.v-button.theme-default.skin-primary .v-svg-icon,
.v-button.theme-default.skin-secondary .v-svg-icon,
.v-button.theme-default.skin-quaternary:hover .v-svg-icon,
.v-button.theme-default.skin-quaternary:focus .v-svg-icon,
.v-button.theme-default.skin-ghost:active .v-svg-icon {
  fill: $white;
}

.v-button.theme-default.skin-tertiary:hover .v-svg-icon {
  fill: $primary-6;
}

.v-button.skin-success {
  background-color: $success;
  color: $white;
}

.v-button.skin-error {
  background-color: $error;
  color: $white;
}

.v-button.skin-social {
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid $grey-8;
  color: $grey-8;
}
