.v-button.theme-default {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, border-color 0.3s;
  outline: 0;
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.is-inline {
  width: auto;
}

.v-button.theme-default.is-borderless {
  border: 0 none;
}

.v-button.theme-default .v-button-label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 1.1px;
  display: block;
  white-space: nowrap;
  transition: color 0.3s;
}

.v-button.theme-default .v-button-icon {
  display: flex;
  height: 14px;
  align-items: center;
}

.v-button.theme-default .v-button-icon.icon-before {
  margin-right: 5px;
}

.v-button.theme-default .v-button-icon.icon-after {
  margin-left: 5px;
}

.v-button.theme-default.skin-primary {
  background: var(--endpass-ui-color-primary-7);
  color: var(--endpass-ui-color-white);
}

.v-button.theme-default.skin-primary:hover {
  background: var(--endpass-ui-color-primary-6);
}

.v-button.theme-default.skin-primary:focus {
  box-shadow: none;
}

.v-button.theme-default.skin-primary:active {
  background: var(--endpass-ui-color-primary-8);
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-secondary {
  background: var(--endpass-ui-color-grey-9);
  color: var(--endpass-ui-color-white);
}

.v-button.theme-default.skin-secondary:hover {
  background: var(--endpass-ui-color-grey-6);
}

.v-button.theme-default.skin-secondary:focus {
  box-shadow: none;
}

.v-button.theme-default.skin-secondary:active {
  background: var(--endpass-ui-color-black);
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-tertiary {
  background: var(--endpass-ui-color-white);
  color: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-tertiary:focus {
  box-shadow: none;
}

.v-button.theme-default.skin-tertiary:active {
  background: var(--endpass-ui-color-primary-1);
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default[disabled] .v-button-label {
  color: var(--endpass-ui-color-grey-4) !important;
}

.v-button.theme-default.skin-tertiary .v-button-label,
.v-button.theme-default.skin-quaternary .v-button-label,
.v-button.theme-default.skin-ghost .v-button-label {
  color: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-primary .v-button-label,
.v-button.theme-default.skin-secondary .v-button-label,
.v-button.theme-default.skin-quaternary:hover .v-button-label,
.v-button.theme-default.skin-quaternary:hover .v-button-icon,
.v-button.theme-default.skin-quaternary:focus .v-button-label,
.v-button.theme-default.skin-ghost:active .v-button-label {
  color: var(--endpass-ui-color-white);
}

.v-button.theme-default.skin-tertiary:hover .v-button-label {
  color: var(--endpass-ui-color-primary-6);
}

.v-button.theme-default.skin-quaternary {
  box-shadow: none;
  border-color: var(--endpass-ui-color-primary-7);
  color: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-quaternary:hover {
  background: var(--endpass-ui-color-primary-7);
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-quaternary:focus {
  background: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-quaternary:active {
  background: var(--endpass-ui-color-primary-8);
  box-shadow: 0 2px 4px rgba(36, 42, 46, 0.1), 0 1px 1px rgba(36, 42, 46, 0.1);
}

.v-button.theme-default.skin-ghost {
  box-shadow: none;
  border-color: transparent;
  color: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-ghost:hover {
  background: var(--endpass-ui-color-grey-2);
}

.v-button.theme-default.skin-ghost:focus {
  border-color: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-ghost:active {
  border-color: transparent;
  background: var(--endpass-ui-color-grey-3);
}

.v-button.theme-default.size-normal {
  padding: 12px 24px 10px;
}

.v-button.theme-default.skin-quaternary.size-normal,
.v-button.theme-default.skin-ghost.size-normal,
.v-button.theme-default.skin-social.size-normal {
  padding: 11px 24px 9px;
}

.v-button.theme-default.size-big {
  padding: 18px 24px 16px;
}

.v-button.theme-default.skin-quaternary.size-big,
.v-button.theme-default.skin-ghost.size-big,
.v-button.theme-default.skin-social.size-big {
  padding: 17px 24px 15px;
}

.v-button.theme-default[disabled] {
  border-color: transparent !important;
  box-shadow: none !important;
  background: var(--endpass-ui-color-grey-2) !important;
}

.v-button.theme-default .svg-atom {
  transition: fill 0.3s;
  width: 15px;
  height: 15px;
  stroke-width: 0;
}

.v-button.theme-default.skin-tertiary .svg-atom,
.v-button.theme-default.skin-quaternary .svg-atom,
.v-button.theme-default.skin-ghost .svg-atom {
  fill: var(--endpass-ui-color-primary-7);
}

.v-button.theme-default.skin-social .svg-atom {
  width: 18px;
  height: 18px;
}
.v-button.theme-default.skin-primary .svg-atom,
.v-button.theme-default.skin-secondary .svg-atom,
.v-button.theme-default.skin-quaternary:hover .svg-atom,
.v-button.theme-default.skin-quaternary:focus .svg-atom,
.v-button.theme-default.skin-ghost:active .svg-atom {
  fill: var(--endpass-ui-color-white);
}

.v-button.theme-default.skin-tertiary:hover .svg-atom {
  fill: var(--endpass-ui-color-primary-6);
}

.v-button.skin-success {
  background-color: var(--endpass-ui-color-success);
  color: var(--endpass-ui-color-white);
}

.v-button.skin-error {
  background-color: var(--endpass-ui-color-error);
  color: var(--endpass-ui-color-white);
}

.v-button.skin-quaternary-error {
  color: var(--endpass-ui-color-error);
  border-color: var(--endpass-ui-color-error);
  box-shadow: none;
}

.v-button.skin-quaternary-primary {
  color: var(--endpass-ui-color-primary-7);
  border-color: var(--endpass-ui-color-primary-7);
  box-shadow: none;
}

.v-button.theme-default.skin-social {
  box-shadow: none;
  border: 1px solid var(--endpass-ui-color-grey-8);
  color: var(--endpass-ui-color-grey-8);
}
