.v-divider.theme-default {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.v-divider.theme-default .v-divider-before,
.v-divider.theme-default .v-divider-after {
  flex: 1 1 auto;
  border: 0;
  margin: 9px 0 10px;
  height: 1px;
  min-width: 5px;
  background-color: var(--endpass-ui-color-grey-2);
}

.v-divider.theme-default .v-divider-text {
  text-align: center;
  margin: 0 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.175px;
  color: var(--endpass-ui-color-grey-6);
}
