@import 'variables.kit';
:root {
  --endpass-ui-color-primary-1: #f7f1ff;
  --endpass-ui-color-primary-2: #e6d6ff;
  --endpass-ui-color-primary-3: #d0b0ff;
  --endpass-ui-color-primary-4: #bb8eff;
  --endpass-ui-color-primary-5: #a66efa;
  --endpass-ui-color-primary-6: #8a3ffc;
  --endpass-ui-color-primary-7: #6e32c9;
  --endpass-ui-color-primary-8: #4f2196;
  --endpass-ui-color-primary-9: #38146b;
  --endpass-ui-color-primary-10: #1e1033;
}
