:root {
  --endpass-ui-font-family-primary: 'Brutal Type', Helvetica, Arial, sans-serif;

  --endpass-ui-color-white: #ffffff;
  --endpass-ui-color-black: #13171a;
  --endpass-ui-color-black-1: #242a2e;
  --endpass-ui-color-grey-1: #f2f4f8;
  --endpass-ui-color-grey-2: #d5d9e0;
  --endpass-ui-color-grey-3: #b9bfc7;
  --endpass-ui-color-grey-4: #9fa5ad;
  --endpass-ui-color-grey-5: #868d95;
  --endpass-ui-color-grey-6: #697077;
  --endpass-ui-color-grey-7: #50565b;
  --endpass-ui-color-grey-8: #373d42;
  --endpass-ui-color-grey-9: #242a2e;
  --endpass-ui-color-blue-1: #0030d3;
  --endpass-ui-color-blue-2: #032AAD;
  --endpass-ui-color-red-1: #da1a29;
  --endpass-ui-color-orange-1: #fc7b1e;
  --endpass-ui-color-yellow-1: #fdd13a;
  --endpass-ui-color-green-1: #22a143;


  --endpass-ui-color-warning-primary: var(--endpass-ui-color-orange-1);
  --endpass-ui-color-warning-secondary: var(--endpass-ui-color-yellow-1);
  --endpass-ui-color-error: var(--endpass-ui-color-red-1);
  --endpass-ui-color-success: var(--endpass-ui-color-green-1);
}

// breakpoints
$lt-small-breakpoint: 767.98px;
