:root {
  --endpass-ui-font-family-primary: 'Akkurat Pro', Helvetica, Arial, sans-serif;

  --endpass-ui-color-warning-primary: #fc7b1e;
  --endpass-ui-color-warning-secondary: #fdd13a;
  --endpass-ui-color-error: #d91d28;
  --endpass-ui-color-success: #24a148;
  --endpass-ui-color-white: #ffffff;
  --endpass-ui-color-black: #13171a;
  --endpass-ui-color-grey-1: #f2f4f8;
  --endpass-ui-color-grey-2: #d5d9e0;
  --endpass-ui-color-grey-3: #b9bfc7;
  --endpass-ui-color-grey-4: #9fa5ad;
  --endpass-ui-color-grey-5: #868d95;
  --endpass-ui-color-grey-6: #697077;
  --endpass-ui-color-grey-7: #50565b;
  --endpass-ui-color-grey-8: #373d42;
  --endpass-ui-color-grey-9: #242a2e;
}

// breakpoints
$lt-small-breakpoint: 767.98px;
