@font-face {
  font-family: 'Akkurat Pro';
  src: url('/fonts/Akkurat/AkkuratPro-Regular.eot');
  src: url('/fonts/Akkurat/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Akkurat/AkkuratPro-Regular.woff2') format('woff2'),
       url('/fonts/Akkurat/AkkuratPro-Regular.woff') format('woff'),
       url('/fonts/Akkurat/AkkuratPro-Regular.ttf') format('truetype'),
       url('/fonts/Akkurat/AkkuratPro-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Akkurat Pro';
  src: url('/fonts/Akkurat/AkkuratLightPro-Regular.eot');
  src: url('/fonts/Akkurat/AkkuratLightPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Akkurat/AkkuratLightPro-Regular.woff2') format('woff2'),
       url('/fonts/Akkurat/AkkuratLightPro-Regular.woff') format('woff'),
       url('/fonts/Akkurat/AkkuratLightPro-Regular.ttf') format('truetype'),
       url('/fonts/Akkurat/AkkuratLightPro-Regular.svg') format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Akkurat Pro';
  src: url('/fonts/Akkurat/AkkuratPro-Bold.eot');
  src: url('/fonts/Akkurat/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Akkurat/AkkuratPro-Bold.woff2') format('woff2'),
       url('/fonts/Akkurat/AkkuratPro-Bold.woff') format('woff'),
       url('/fonts/Akkurat/AkkuratPro-Bold.ttf') format('truetype'),
       url('/fonts/Akkurat/AkkuratPro-Bold.svg') format('svg');
  font-style: normal;
  font-weight: 700;
}
