.v-small,
.v-tiny {
  font-family: var(--endpass-ui-font-family-primary);
}

.v-small {
  font-size: 12px;
  line-height: 1.35;
  text-transform: uppercase;
}

.v-tiny {
  font-size: 12px;
  line-height: 1.35;
}

.v-fs-12 {
  font-size: 12px;
}

.v-fs-14 {
  font-size: 14px;
}

.v-fs-16 {
  font-size: 16px;
}

.v-lh-1 {
  line-height: 1.2;
}

.v-lh-1-1 {
  line-height: 1.1;
}

.v-lh-1-2 {
  line-height: 1.2;
}

.v-lh-1-3 {
  line-height: 1.3;
}

.v-lh-1-4 {
  line-height: 1.4;
}

.v-lh-1-5 {
  line-height: 1.5;
}
