@import 'fonts.brutal-type';
@import 'gaps';
@import 'h';
@import 'text';

.theme-default,
.v-body {
  font-family: var(--endpass-ui-font-family-primary);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.v-body {
  font-size: 16px;
  line-height: 1.5;

  &.is-small {
    font-size: 14px;
    line-height: 1.4;
  }
}

