@import 'fonts.akkurat';

.theme-default {
  font-family: $primary-font;
}

/*
html,
body {
  font-size: 16px;
  letter-spacing: -0.2px;
  font-family: $primary-font;
  color: #13171a;
  line-height: normal;
  font-weight: 400;
}

h1 {
  font-size: 56px;
  letter-spacing: -0.75px;
}

h2 {
  font-size: 40px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 24px;
  letter-spacing: -0.3px;
}

h4 {
  font-size: 20px;
  letter-spacing: -0.25px;
}

small {
  font-size: 12px;
  letter-spacing: -0.15px;
}
*/
