@import 'fonts.akkurat';

.theme-default,
.v-h1,
.v-h2,
.v-h3,
.v-h4,
.v-body,
.v-small,
.v-tiny {
  font-family: var(--endpass-ui-font-family-primary);
}

.v-h1,
.v-h2,
.v-h3,
.v-h4 {
  margin: 24px 0;
}

.v-h1 {
  font-size: 56px;
  line-height: 1;
}

.v-h2 {
  font-size: 40px;
  line-height: 1;
}

.v-h3 {
  font-size: 24px;
  line-height: 1;
}

.v-h4 {
  font-size: 20px;
  line-height: 1.3;
  color: var(--endpass-ui-color-grey-5);

  &.is-bold {
    font-weight: 700;
    color: var(--endpass-ui-color-black);
  }
}

.v-body {
  font-size: 16px;
  line-height: 1.5;

  &.is-small {
    line-height: 1.4;
  }
}

.v-small {
  font-size: 12px;
  line-height: 1.35;
  text-transform: uppercase;
}

.v-tiny {
  font-size: 12px;
  line-height: 1.35;
}
